@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

/*
Julius Sans One:
font-family: 'Julius Sans One', sans-serif;

Archivo Narrow:
font-family: 'Archivo Narrow', sans-serif;

 */


 .landing-container {
     height: 100vh;
     width: 100%;
     height: 100vh;
     width: 100%;
     background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url( https://res.cloudinary.com/dvug8hy5k/image/upload/v1612480720/Portfolio1/last_tower_ramen_shop_xrknw9.jpg);
     background-size: cover;
     background-position: center;
     background-position: fixed;

 }


.title {
    color: white;
    width: auto;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #E85335;
    padding: 15px;
    text-shadow: 0 0 0 #fff, 0 0 10px #fff, 0 0 20px #fff;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 0 #fff, 0 0 10px #fff, 0 0 20px #fff;    
        box-shadow: 
        0 0 40px 10px #E85335,
        inset 0 0 20px #E85335,
        0 0 160px 10px #E85335,
        inset 0 0 20px #E85335,
        0 0 320px 10px #E85335,
        inset 0 0 20px #E85335;
    }
    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
        box-shadow: 
        0 0 40px 10px #E85335,
        inset 0 0 25px #E85335,
        0 0 160px 20px #E85335,
        inset 0 0 25px #E85335,
        0 0 320px 20px #E85335,
        inset 0 0 25px #E85335;    
    }
  }


/* @media (max-height: 768px) and (max-width: 1366px) {
}

@media only screen and (max-width: 768px){
}

@media only screen and (max-width: 500px){
} */


@media (max-height: 768px) and (max-width: 1366px) {
}

@media only screen and (max-width: 768px){
    .title{
        font-size: 45px;
    }

}

@media only screen and (max-width: 500px){
}
